* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    background-color: black;
    height: 100vh;
}

.firstcontainer {
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease;
}

.sidebar {
    max-width: 1700px;
    margin: 0 auto;
    background-color: black;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}



.sidbarImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: width 0.5s ease;
    cursor: pointer;
}

.sidbarImage:hover {
    width: 170px;

    #span1 {
        display: inline;
    }
}

#span1 {
    color: white;
    display: none;
}

.sidbarImage .firstImage {
    width: 45px;
    padding: 20px;
}

.message {
    color: white;
    font-size: 35px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s;
}

.message:hover {
    transform: scale(1.06);
    color: pink;
}

.imageContainer {
    height: 280px;
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    position: relative;
    padding: 20px;
}


.image {
    position: absolute;
    width: 55%;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    width: 100%;
    font-size: 100px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-27%);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.step {
    margin-top: 60px;
    width: 100%;
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.letter {
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.btn {
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    color: pink;
}



.secondContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse {
    border: 1px solid white;
    height: 40px;
    width: 25px;
    border-radius: 20px;
    position: relative;
    opacity: 0.8;
}

.mote {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 35%;
    opacity: 0.8;

}

.motion {
    animation: animate 0.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(25px);
    }
}


.thirdContainer {
    font-family: sans-serif;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.thirdChild {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    background-color: #1D1D1D;
    padding: 20px;
    opacity: 0;
    transition: opacity 3s ease;
    transform: translateY(0);
}

.opacity {
    opacity: 1;
    transform: translateY(-40px);
}

.thirdLetter {
    width: 40%;
    color: white;
    font-size: 50px;
    font-weight: 200;
}

.thirdLetter2 {
    width: 30%;
    color: white;
    font-size: 30px;
}

.fourthContainer {
    margin-top: 80px;
    width: 100%;
    height: 90vh;
}

.fourhtChild {
    height: 90%;
    padding: 20px;
    background-color: #1C1C1C;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fourthLetter {
    font-size: 60px;
    font-weight: 100;
    color: white;
}

.class {
    width: 600px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}



.setUp div:hover {
    transform: translateX(-15px);
}


.fiveContainer {
    margin-top: 60px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.fiveChild {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
}

.fiveletter {
    width: 40%;
}

.fiveletter span {
    font-size: 60px;
    font-weight: 200;
    color: white;
}


.fiveImage {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fiveImage img {
    width: 240px;
    padding: 50px;
    filter: invert(1)
}


.sixContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.sixletter {
    font-size: 140px;
    color: white;
}


@media screen and (max-width: 700px) {
    .text {
        width: 100%;
        font-size: 50px;
    }

    .imageContainer {
        height: 80px;
    }

    .image {
        width: 100%;
    }

    .letter {
        font-size: 24px;
    }

    .btn {
        font-size: 20px;
    }


    .thirdContainer {
        width: 100%;
         font-size: 10px;
    }

    .thirdLetter {
        font-size: 30px;
    }
    .thirdLetter2 {
        font-size: 20px;
    }

    .fourhtChild {
        flex-direction: column;
    }
    .fourthLetter {
        font-size: 30px;
    }
    .class {
        width: 100%;
    }

    .fiveChild {
        flex-direction: column;
    }

    .fiveletter span {
        font-size: 20px;
    }
    .fiveImage {
        width: 100%;
    }
    .fiveImage img{
        width: 76px;
        padding: 30px;
    }

    .sixletter {
        font-size: 20px;
    }
}