* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    background-color: black;
    height: 100vh;
}

.firstcontainer {
    height: 90vh;
    opacity: 0;
    transition: all 2s ease;
}

.sidebar {
    max-width: 1900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 2s ease;
}



.sidbarImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: width 0.8s ease;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 40px;
    z-index: 1;
}

.sidbarImage:hover {
    width: 140px;


    #span1 {
        display: inline;
    }
}

#span1 {
    color: white;
    display: none;
}

.sidbarImage .firstImage {
    width: 40px;
    padding: 20px;
    border-radius: 400px;
}

.message {
    color: white;
    font-size: 35px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
    margin-right: 20px;
}

.message img {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

.imageContainer {
    height: 280px;
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(0);
}



.image {
    position: absolute;
    width: 26%;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    width: 100%;
    font-size: 100px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-10%);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 7;
}

.step {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.letter {
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.btn {
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: pink;
}

.secondContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(0);
    transition: all 5s ease;
}

.secondContainer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.motion {
    animation: animate 0.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(25px);
    }
}


.thirdContainer {
    font-family: sans-serif;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.thirdChild {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    background-color: #1D1D1D;
    padding: 20px;
    opacity: 0;
    transition: all 3s ease;
    transform: translateY(0px);
}



.thirdLetter {
    width: 40%;
    color: white;
    font-size: 50px;
    font-weight: 200;
}

.thirdLetter2 {
    width: 30%;
    color: white;
    font-size: 30px;
}

.fourthContainer {
    margin-top: 80px;
    width: 100%;
    height: 90%;
}

.fourhtChild {
    opacity: 0;
    height: 90%;
    padding: 20px;
    background-color: #1C1C1C;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(0);
    transition: all 3s ease;
}

.fourthLetter {
    font-size: 60px;
    font-weight: 100;
    color: white;
}

.class {
    width: 600px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}



.setUp div:hover {
    transform: translateX(-15px);
}


.fiveContainer {
    margin-top: 60px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.fiveChild {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transform: translateY(0);
    transition: all 2s ease-in;
}

.fiveletter {
    width: 40%;
}

.fiveletter span {
    font-size: 60px;
    font-weight: 200;
    color: white;
}


.fiveImage {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.fiveImage img {
    width: 100px;
    padding: 30px;
    color: #1D1D1D;
}


.sixContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 3s ease;
}


.sixletter {
    font-size: 140px;
    color: white;
}


@media screen and (max-width: 1200px) {
    .text {
        width: 100%;
        font-size: 50px;
        bottom: -300px;
    }

    .imageContainer {
        height: 80px;
    }

    .image {
        width: 100%;
    }

    .letter {
        font-size: 24px;
    }

    .btn {
        font-size: 20px;
    }


    .thirdContainer {
        width: 100%;
        font-size: 10px;
    }

    .thirdLetter {
        font-size: 30px;
    }

    .thirdLetter2 {
        font-size: 20px;
    }

    .fourhtChild {
        flex-direction: column;
    }

    .fourthLetter {
        font-size: 30px;
    }

    .class {
        width: 100%;
    }

    .fiveContainer {
        width: 100%;
    }

    .fiveChild {
        flex-direction: column;
        width: 90%;
        text-align: center;
       
    }

    .fiveletter span {
        font-size: 30px;

    }

    .fiveImage {
         box-sizing: border-box;
        max-width: 90%;
        
    }

    .fiveImage img {
        width: 40px;
        padding: 10px;
    }

    .sixletter {
        font-size: 20px;
    }
}


.opacity {
    opacity: 1;
    transform: translateY(20px);
}